* {
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }
  
  body {
    margin: 0;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 75vh;
    min-height: 550px;
    max-height: 700px;
    background-color: #2c73d2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .heading {
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .heading h1 {
    font-size: 40px;
  }
  .fa-house-laptop {
    font-size: 50px;
    margin: 0 30px 0 30px;
    color: #2c73d2;
  }
  .devices-container {
    width: 870px;
    display: flex;
    flex-wrap: wrap;
  }
  .device-container {
    width: 220px;
    height: 220px;
    margin: 25px 35px 25px 35px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .buttons-container-device {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .light-button-device {
    height: 18px;
    width: 18px;
    margin: 10px 10px 0 0;
    border-radius: 50px;
    border: none;
  }
  .button-device {
    height: 18px;
    width: 18px;
    border-radius: 50px;
    margin: 9px 9px 0 194px;
    border: none;
  }
  .device-icon {
    font-size: 70px;
    color: #2c73d2;
  }
  .button-device-active {
    background-color: #8fff00;
  }
  .colorpicker {
    height: 28px;
    width: 28px;
    border: none;
    margin: 7px 0 0 7px;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
  }
  .colorpicker::-webkit-color-swatch {
    border-radius: 50px;
    border: none;
  }
  .colorpicker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
  }